@import "~assets/styles/abstracts";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  font-family: $font-family !important;
  font-size: $font-size;
  color: $dark;
  @include customScrollbar($size: 10px);
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// #root {
//   min-height: 100%;
//   display: grid;
//   grid-template-rows: auto 1fr auto;
// }
