{
  "extends": ["react-app", "plugin:@tanstack/eslint-plugin-query/recommended"],
  "rules": {
    "@tanstack/query/exhaustive-deps": "warn",
    "@tanstack/query/prefer-query-object-syntax": "warn"
  }
}
