@import "~assets/styles/abstracts";

.sicnt-pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  &__left,
  &__right {
    padding: 18px !important;
    border-radius: 60px;
    border: 1px solid #eaeaea;
    background: transparent !important;
    color: $RollingStone;
  }

  &__right {
    svg {
      transform: rotate(-180deg);
    }
  }

  .ant-pagination-item {
    @include flex-both-center;
    margin: 0 !important;
    height: 32px !important;
    width: 42.461px !important;
    border-radius: 60px;

    &-active {
      background: $primary;
      a {
        color: #fff !important;
      }
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    margin: 0 !important;
    height: auto !important;
    line-height: normal;

    rect {
      fill: transparent !important;
    }
  }

  .ant-pagination-disabled {
    *:not(path) {
      color: $RollingStone;
    }
  }
}
