@import "~assets/styles/abstracts";

.wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("~assets/images/jpg/login-bg.webp");
  background-image: image-set(
    url("~assets/images/jpg/login-bg.avif") type("image/avif"),
    url("~assets/images/jpg/login-bg.webp") type("image/webp")
  );
  backdrop-filter: blur(5px);
  background-size: cover;

  .inner {
    padding-block: 40px;
    backdrop-filter: blur(3px);
    height: 100%;
    @include flex-both-center;
  }
}
