@import "~assets/styles/abstracts";

.footer {
  border-top: 1px solid #afabab;
  padding-block: 30px;
  width: 100%;
  background: #f6f6f7;

  .socials {
    @media (max-width: 530px) {
      flex-wrap: wrap;
      // display: flex;
      // align-items: flex-start;
      // flex-direction: column;
    }
  }
}
